<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="patch" th:action="@{/users/{id}(id =${user.getId()})}" th:object="${user}">
    <label for="name"> Enter name </label>
    <input type="text" th:field="*{name}" id="name"/>

    <label for="lastname"> Enter Last Name </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>

    <label for="age"> Enter Age </label>
    <input type="number" th:field="*{age}" id="age"/>

    <br/>
    <input type="submit" value="Update"/>
</form>

</body>
</html>